.App {
  text-align: center;
}

.container{
  display: flex;
  background-image: url('./BG.svg');
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Pacifico&display=swap');


  